<div class="wishlist">
    <h1><%="#{Fan.find(session[:user_id]).username.capitalize}'s"%> wishlist</h1>

 
    <div class='title'> 

    
        <%  @fan.alphabatize.collect do |festival| %>
            <h3><%=    link_to festival.name, festival %> </h3>
           <p id="img_fan_page" ><%= link_to image_tag(festival.image_url), festival %></p>
            <p class="data"> Your comment:    <%=festival.favorites.find_by(fan_id: @fan.id).comment%> <p>
            <br>
            <%  end %>

        <br>
    </div>
</div>
