<div class="wishlist">
    <h1><%="#{Fan.find(session[:user_id]).username.capitalize}'s"%> wishlist</h1>
 
    <div class='title'> 
        <%     @fan.festivals.collect do |festival| %>
            <h3><%=    link_to festival.name, festival %> </h3>
            <img src="<%=festival.image_url%>" alt= "" width=75% > <br>
             <p class="data"> Your comment:    <%=festival.favorites.find_by(fan_id: @fan.id).comment%> <p>
            <br>
            <%  end %>

        <br>
    </div>
</div>


