<h1>Festival Wishlist</h1>


<% @fan.festivals.each do |festival| %>
    <%= link_to festival.name, festival %>
   
<%end%>

<% @fan.favorites.each do |favorite|%>
    <%= favorite.comment%>
<% end %>




