<nav>
  <ul> 
    <li class="logo"><a href="/">FavFest</a></li>
   <div class="items">
    
      <% if session[:user_id] %>
          <li> <a href= '/wishlist'>  <%="#{Fan.find(session[:user_id]).username.capitalize}"%> Wishlist </a></li>
          <li> <%= link_to "Logout", sessions_path, method: "delete" %></li>
        <%else %>   
         
          <li> <a href= '/new'> Login </a></li>
          <li> <a href= '/signup'> Signup </a></li>
      <% end %>

      <li>  <a href="/festivals"class="button" > Festivals </a></li>
      <li>  <a href="/artists" class="button" > Artists</a></li>
    </div>
    <li class="search-icon"> 
      <%= form_tag search_page_path, method: :get, class: 'search_bar', id:'search_button' do %> 
        <input type="search"  <%= text_field_tag :search, params[:search], class: 'input', placeholder: "search..."%>
      <% end %>
      <label class="icon" >
      <button class="fas fa-search" form="search_button"></button>
      </label>
    </li>
    </ul>
</nav>







