/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{ 
    margin: 0;
    padding: 0;
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
 
    
}
body {
	background-image: url('https://st2.depositphotos.com/4060975/8159/v/950/depositphotos_81594344-stock-illustration-music-outline-seamless-iconic-pattern.jpg');
    padding: 45px;
    max-width: 1100px;
	margin: 0 auto;
}

nav {
    background: #222222;
    padding: 10px 40px 10px 70px;
    border: 1px solid #000;
    border-left: none;
    border-right: none;
    border-radius: 10px;

    box-shadow: 7px 10px 20px -4px rgba(0,0,0,0.75);
  
}
nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

nav ul li.logo{
    flex: 1;
    font-size: 30px;
    font-weight: 700;
    color: whitesmoke;
}

nav ul div.items {
    padding: 0 25px;
    display: inline-flex;
    color: whitesmoke;

}
nav ul div.items a{
    text-decoration: none;
    font-size: 18px;
    padding: 0 12px;
    color: whitesmoke;
}

nav ul div.items a:hover{
    color: rgb(151, 113, 124);
}
nav ul .search-icon {
    height: 40px;
    width: 240px;
    display: flex;
    background: #f2f2f2;
    border-radius: 5px;
}
nav ul .search-icon input{
    height: 100%;
    width: 200px;
    border: none;
    outline: none;
    padding: 0 10px;
    color: #000;
    font-size: 16px;
    border-radius: 5px 0 0 5px;

}

nav ul .search-icon .icon {
    height: 100%;
    width: 40px;
    line-height: 40px;
    border: 1px solid #cccccc;
    text-align: center;
    background: darkgray;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
nav ul .search-icon .icon:hover {
    background: #e6e6e6;
}
nav ul .search-icon .icon button{
    color: #222222;
    font-size: 100%;
    border: 0px;
    background: darkgray;
    cursor: pointer;
}
nav ul .search-icon .icon button:hover {
    background: #e6e6e6;
}
@media screen and (max-width: 1052px) {
    nav {
        padding: 10px 40px 10px 0px;
    }
    nav ul li.logo{
        display: none;
    }
    nav ul div.items {
        flex: 4;
    }
    #festivals, #artists, #artists_show,{
            grid-template-columns: 1fr;
    }

}
// img {
//     max-width: 450px;
//     height: auto;
//   }
