// Place all the styles related to the festivals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#festivals {

	margin-top: 5%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	// grid-template-columns: repeat(2, 1fr);
	// grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
	grid-gap: 2%;

	.festival {
		display: grid;
		grid-template-columns: 1fr 1fr;
		// border: 1px solid lightgrey;
		border-radius: 10px;

		.info {
			padding: 15px;
			border-bottom-left-radius: 10px;
			border-top-left-radius: 10px;
            background-color: #e6e5e5;
            -webkit-box-shadow: 7px 10px 20px -4px rgba(0,0,0,0.75);
            -moz-box-shadow: 7px 10px 20px -4px rgba(0,0,0,0.75);
            box-shadow: 7px 10px 20px -4px rgba(0,0,0,0.75);
			// border-radius: 10px;


			h2, p {
            margin: 5px 10px;
            color: black;
			}

			.location {
				color: grey;
			}
			// .attribute-wrapper {
			// 	padding: 10px 0;
			// }
		}
	}

	img {
		width: 100%;
		height: 300px;
		object-fit: cover;
        background-color: lightgrey;
		border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        -webkit-box-shadow: 7px 10px 20px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px 10px 20px -4px rgba(0,0,0,0.75);
        box-shadow: 7px 10px 20px -4px rgba(0,0,0,0.75);
	}
}


#festivals_show{
	margin-top: 20px;
	background: darkgrey;
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr;
	// border: 1px solid lightgrey;
	border-radius: 10px;
	
	.festival_show{
		margin-top: 10px;
		padding: 15px;
		background: #222222;
		text-align: center;
		border-radius: 10px;
		color: whitesmoke;
		}

	.festival_info{	
		margin-top: 10px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		padding: 15px;
		border-bottom-left-radius: 10px;
		border-top-left-radius: 10px;
        -webkit-box-shadow: 7px 10px 20px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 7px 10px 20px -4px rgba(0,0,0,0.75);
        box-shadow: 7px 10px 20px -4px rgba(0,0,0,0.75);
		border-radius: 10px;

		.festival_description {
			font-size: 90%;
			padding: 15px;
			line-height: 200%;
			// border-radius: 10px;
            background-color: #e6e5e5;
            -webkit-box-shadow: 7px 10px 20px -4px rgba(0,0,0,0.75);
            -moz-box-shadow: 7px 10px 20px -4px rgba(0,0,0,0.75);
            box-shadow: 7px 10px 20px -4px rgba(0,0,0,0.75);

				
			
			}
		
			img	{
				width: 100%;
				height: 300px;
				object-fit: cover;
				background-color: lightgrey;
				border-radius: 10px;
				// -webkit-box-shadow: 7px 10px 20px -4px rgba(0,0,0,0.75);
				// -moz-box-shadow: 7px 10px 20px -4px rgba(0,0,0,0.75);
				// box-shadow: 7px 10px 20px -4px rgba(0,0,0,0.75);
				
				}  

			p.fes_title {
				font-size: 100%;
				font-weight: bolder;
			}

	
		}
	.festivals_artist li a{
		color: yellow;
	}
	
}